@import "tailwindcss";

:root {
  --font-geist: "Geist", sans-serif;
}

@theme inline {
  --font-sans: var(--font-geist);
}

body {
  -webkit-tap-highlight-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
